@import "@fontsource/source-serif-pro/600.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-bold;
  }
}

:root {
  --brand-primary: #A8A29E;
  --brand-secondary: #BE123C;
  --brand-accent: #005A9C;
  --text-light: #F5F5F4;
  --text-medium: #78716C;
  --text-dark: #44403C;
}