---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import biopic from "../assets/tamra.png";
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon/components";

const pageTitle = "About";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Nav currentPage="about" />
  <!-- <h2 class="text-3xl md:text-5xl font-bold mt-16 text-text-dark">
    {pageTitle}
  </h2> -->
  <!-- <h2
    class="text-center text-4xl md:text-5xl font-bold mt-16 text-brand-primary"
  >
    About
  </h2> -->
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto">
      <div class="grid place-content-center">
        <Image
          src={biopic}
          alt="tamra-pic"
          class="w-60 h-60 md:w-80 md:h-80 rounded-full mx-auto md:mt-20"
        />
      </div>
      <div class="grid place-content-center">
        <h3 class="text-2xl font-bold mt-2 mb-4 md:mt-16 text-text-dark">
          Tamra Ancona, PTA
        </h3>
        <p class="md:text-lg text-left text-text-medium mb-4">
          With over 20 years of experience as a Physical Therapist Assistant, I
          have a passion for helping older adults stay strong, balanced, and
          independent, but I’ve also worked with people of all ages. For the
          past 15 years, I’ve focused on home health care, where I’ve gained a
          deep understanding of providing therapy tailored to individual needs.

          <p class="md:text-lg text-left text-text-medium">
            My expertise includes creating personalized movement and fitness
            plans to help improve and maintain strength, balance, and overall
            mobility. I also have experience in outpatient therapy, where I’ve
            supported clients in achieving their goals through customized
            programs.
          </p>
          <a href="https://www.linkedin.com/in/tamra-ancona-06456065">
            <Icon name="linkedin" class="w-8 h-8 mt-4 text-sky-600" />
          </a>
        </p>
      </div>
    </div>
  </div></Layout
>
