---
import Layout from "../layouts/Layout.astro";
import photo1 from "../assets/photo1.jpg";
import { Image } from "astro:assets";
import Nav from "../components/Nav.astro";
---

<Layout>
  <Nav currentPage="contact" />
  <form
    name="contact"
    netlify
    class="p-6 md:p-12 bg-text-light rounded-3xl max-w-4xl mx-auto md:mt-12 mb-16"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <h3 class="text-2xl font-bold text-text-dark mb-6 pt-0">
      Contact us for a free consultation or with any questions!
    </h3>
    <!-- Name Input -->
    <div class="flex flex-col mb-6">
      <label for="name" class="text-text-dark font-semibold mb-2">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        placeholder="Your Name"
        required
      />
    </div>

    <!-- Email Input -->
    <div class="flex flex-col mb-6">
      <label for="email" class="text-text-dark font-semibold mb-2">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        placeholder="Your Email"
        required
      />
    </div>

    <!-- Message Input -->
    <div class="flex flex-col">
      <label for="message" class="text-text-dark font-semibold mb-2"
        >Message</label
      >
      <textarea
        name="message"
        id="message"
        rows="5"
        class="border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-blue-500 focus:outline-none resize-none"
        placeholder="Your Message"
        required></textarea>
    </div>

    <!-- Submit Button -->
    <div class="text-center mt-6">
      <button
        type="submit"
        class="bg-brand-secondary text-text-light font-bold py-2 px-6 rounded-full hover:bg-text-dark focus:ring-2 focus:ring-blue-500 focus:outline-none w-64"
      >
        Send
      </button>
    </div>
  </form>
</Layout>
