---
import Button from "./Button.astro";
const { title, text } = Astro.props;
---

<div class="bg-stone-100 rounded-3xl grid place-items-center p-4 m-4">
  <h2
    class="text-center text-4xl md:text-4xl font-bold text-brand-primary max-w-120 mt-4"
  >
    {title}
  </h2>
  <Button text={text} link="/contact" />
</div>
