---
const { currentPage } = Astro.props; // Pass the current page as a prop
const navItems = [
  { name: "Home", href: "/" },
  { name: "Services", href: "/services" },
  { name: "About", href: "/about" },
  { name: "Contact", href: "/contact" },
];
---

<nav
  class="md:flex items-center justify-between text-gray-800 pt-4 pb-8 md:pb-0"
>
  <!-- Logo and Title -->
  <a
    href="/"
    class="flex justify-center md:justify-start items-center space-x-4"
  >
    <img src="/scf-logo.svg" alt="logo" class="w-16 h-16 block" />
    <h1 class="text-3xl font-bold text-slate-600 font-serif">
      Silver Coast Fitness
    </h1>
  </a>
  <!-- Navigation Links -->
  <div
    class="flex justify-center md:justify-end space-x-12 text-xl text-red-400"
  >
    {
      navItems.map(({ name, href }) => (
        <a
          href={href}
          class={`pb-1 pt-4 md:pt-0 ${
            currentPage === name.toLowerCase()
              ? "font-bold text-slate-700 border-b-2 border-slate-700"
              : ""
          }`}
        >
          {name}
        </a>
      ))
    }
  </div>
</nav>
