---
import { Image } from "astro:assets";
const { photo1, alt, biotitle, text, name, reviewhead } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div
  class="flex flex-col items-start mb-4 bg-stone-100 rounded-3xl p-5 w-full h-full"
>
  <div class="flex space-x-2">
    <Icon name="star" class="w-6 h-6 mt-4 text-amber-500" />
    <Icon name="star" class="w-6 h-6 mt-4 text-amber-500" />
    <Icon name="star" class="w-6 h-6 mt-4 text-amber-500" />
    <Icon name="star" class="w-6 h-6 mt-4 text-amber-500" />
    <Icon name="star" class="w-6 h-6 mt-4 text-amber-500" />
  </div>
  <!-- <div class="flex space-x-2">
    {
      [...Array(5)].map(() => (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          class="w-8 h-8 text-amber-500"
        >
          <path
            d="M12 17.27l6.18 3.73-1.64-7.03L21 9.24l-7.19-.61L12 2 10.19 8.63 3 9.24l5.46 4.73L6.82 21z"
            style="stroke:currentColor; stroke-width:0.5; stroke-linejoin:round;"
          />
        </svg>
      ))
    }
  </div> -->
  <p class="text-xl font-bold mt-4 text-text-dark">{reviewhead}</p>
  <p class="text-text-medium mt-2">{text}</p>
  <p class="text-text-medium mt-2">{name}</p>
</div>
