---
import "../styles/main.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Silver Coast Fitness</title>
  </head>

  <body class="bg-white">
    <div class="max-w-7xl mx-auto">
      <div class="flex flex-col min-h-screen">
        <!-- Main Content -->
        <main class="flex-grow p-4">
          <h2></h2>
          <slot />
        </main>
      </div>
    </div>
    <Footer />
    <script src="/src/scripts/fslightbox.js"></script>
  </body>
</html>
